*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #ccc;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav li{
    display: inline;
    
}

